[submodule "third_party/lwM2M/third_party/lwM2M/Anjay-esp-idf"]
	path = third_party/lwM2M/third_party/lwM2M/Anjay-esp-idf
	url = https://github.com/AVSystem/Anjay-esp-idf.git
[submodule "third_party/lwM2M/Anjay-esp-idf"]
	path = third_party/lwM2M/Anjay-esp-idf
	url = https://github.com/AVSystem/Anjay-esp-idf.git
