.pio
.vscode
sdkconfig.dfrobot_beetle_esp32c3
AppWaver.code-workspace
lib/Safe_Trace/MakeTest/test_report.txt
lib/Panic/MakeTest/test_report.txt
lib/Safe_Time/MakeTest/test_report.txt
lib/Safe_Mem/MakeTest/test_report.txt
components/App/HAL/MakeTest/test_report.txt
components/App/Application/Modules/ANA_APP/MakeTest/test_report.txt
lib/Safe_Trace/MakeTest/build/*
lib/Panic/MakeTest/build/*
lib/Safe_Time/MakeTest/build/*
lib/Safe_Mem/MakeTest/build/*
components/App/HAL/hal_ports/MakeTest/build/*
components/App/Application/Modules/ANA_APP/MakeTest/build/*
